/* Waarschuwing dat email debug aanstaat */
.email-debug-message{ z-index: 1000; background-color: #FFC; font-size: 11px; padding: 11px 15px; color: red; position: fixed; bottom:0; width: 100%}

.override-msg{ z-index: 1000; background-color: #FFC; font-size: 12px; padding: 14px 15px; color: red; position: fixed; bottom:0; width: 100%}

/* lijst items op laten lichten*/
ul.list-hover li{padding: 3px 4px; margin-top: 1px; transition: all ease-in-out .20s}
ul.list-hover li:hover{background-color: #324148; color: #FFF; border-radius: .1875rem; cursor:pointer}

/*cursor pencil*/
.cursor-pencil {
    cursor: url(../img/pencil.png) 0 28, auto;
}

/* sidebar */
.page-wrapper{
    transition: margin-right .5s;
}

.sidebar-right{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}


/* ID upload */
.img-idbewijs{
    border:1px solid rgba(0, 0, 0, 0.125);
    padding: 5px;
    border-radius: 3px;
    display: block;
    clear: both;
}

/*signature pad */
#signature-pad{
}

#signature-pad .stripe{
    border:1px solid darkgrey;
    width: 400px;
    margin: auto;
    top: 160px;
    position: relative;
}

#signature-pad .btn{
    margin: -7px 0 0 0;
    width: 226px;
    border: 1px solid #000;
}

#signature-pad .btn-success{
    margin-right: -2px;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#signature-pad .btn-outline-danger{
    margin-left: -2px;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}